
@model List<ArranStudyGroup.Models.StudyGroupMember>

@{
    ViewData["Title"] = "Study Group Members";
}

<!DOCTYPE html>

<h2>@ViewData["Title"]</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Student Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var member in Model)
        {
            <tr>
                <td>@member.StudentNumber</td>
                <td>@member.FirstName</td>
                <td>@member.LastName</td>
                <td>@member.Email</td>
            </tr>
        }
    </tbody>
</table>



